<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A basic Marko app.">
    <title>${$global.meta.pageTitle || "Marko"}</title>
    <!-- Get the latest one from: https://katex.org/docs/browser -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
  </head>
  <body class="w-full h-svh flex flex-col overflow-hidden">
  <Header/>
    <${input.content}/>
  </body>
</html>

<style>
@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* 1. Definición de la fuente */
@font-face {
      font-family: 'Departure Mono';
        src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
          font-weight: 400;
            font-style: normal;
              font-display: swap;
}

/* 2. Registro en el tema de Tailwind CSS v4 */
@theme {
      --font-sans: 'Departure Mono', monospace;
      --font-mono: 'Departure Mono', monospace;
}

</style>
