<const/type = $global.params.type/>
<const/slug = $global.params.slug/>
<const/lessonId = $global.params.lessonId/>
<const/lesson = $global.lesson/>
<const/lessons = ($global.lessons || [])/>

<let/isContentOpen = false/>

<const/getEmbedUrl = (url: any) => {
    if (!url) return "";
    const regExp =
        /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    const match = url.match(regExp);
    return match && match[2].length === 11
        ? `https://www.youtube.com/embed/${match[2]}`
        : url;
}/>

<if=(lesson)>
    <div class="w-full h-full flex overflow-hidden">
        <!-- BARRA LATERAL / NAVEGACIÓN -->
        <aside class=["w-full h-full fixed z-6 bg-white translate-x-full transition-transform duration-300 p-4", {
            'translate-x-0': isContentOpen,
            'translate-x-full': !isContentOpen
        }]>
            <h3>Navegación del Contenido</h3>

            <ul>
                <for|item| of=lessons>
                    <li>
                        <a 
                            href=`/${type}/${slug}/${item}`
                            class=["hover:underline", item === lessonId ? "font-bold text-black" : ""]
                        >
                            -${item.replace(/-/g, " ")}
                        </a>
                    </li>
                </for>
            </ul>
        </aside>

        <button class="border-2 hover:scale-105! active:scale-105! transition-transform border-black cursor-pointer select-none px-2 bg-black text-white fixed z-8 bottom-10 right-10" onClick() { isContentOpen = !isContentOpen }>
            Contenido [╪]
        </button>

        <!-- CONTENIDO PRINCIPAL -->
        <main class="flex-1 p-4 overflow-y-auto">
            <h1 class="text-3xl font-black mb-4">${lesson.metadata.title}</h1>
            
            <!-- Si la clase tiene un vídeo asignado en el frontmatter -->
            <if=(lesson.metadata.videoUrl)>
                <iframe
                    class="w-full aspect-video mb-6"
                    src=getEmbedUrl(lesson.metadata.videoUrl)
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                />
            </if>
            
            <!-- CUERPO DE LA CLASE EN MARKDOWN (RENDERIZADO) -->
            <article class="prose max-w-none">$!{lesson.htmlContent}</article>
        </main>
    </div>
</if>
<else>
    <div class="p-4">No se pudo cargar la lección solicitada.</div>
</else>